.contact-info {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid white;
}

.contact-info p {
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
